# Project exclude paths
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib


# Executables
*.exe

*.out
*.app

#folders
**/.idea
**/.vscode
**/.build
**/cmake-build-debug/CMakeFiles
**/cmake-build-debug/Testing
**/cmake-build-debug/cmake_install.cmake

!/build/
/cmake-build-debug/CMakeCache.txt
/cmake-build-debug/CPackConfig.cmake
/cmake-build-debug/CPackSourceConfig.cmake
/cmake-build-debug/CTestTestfile.cmake
/cmake-build-debug/DartConfiguration.tcl
/cmake-build-debug/lab-two-cpp
/cmake-build-debug/lab-two-cpp.cbp
/cmake-build-debug/Makefile
/cmake-build-debug/pushkin.txt
/build/
!/build/
